* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(233, 233, 203);
}
.darkmod {
  background-color: black;
  color: white;
}
.goo {
  background: white;
}
.boo {
  background-color: blue;
}
